:local {
  --grid-row-color: var(--grid-row-color);
  --grid-row-color-even: var(--grid-row-color-even);
  --grid-row-line-color: var(--grid-row-line-color);
  --grid-row-line-tick: var(--grid-row-line-tick);
}
.gridRow {
  fill: var(--grid-row-color);
}

.gridRow:nth-child(even) {
  fill: var(--grid-row-color-even);
}

.gridRowLine {
  stroke: var(--grid-row-line-color);
}

.gridTick {
  stroke: var(--grid-row-line-tick);
}
