:local {
  --calendar-header-fill: var(--calendar-header-fill);
  --calendar-header-stroke: var(--calendar-header-stroke);
  --calendar-header-stroke-width: var(--calendar-header-stroke-width);
  --calendar-header-top-text-fill: var(--calendar-header-top-text-fill);
  --calendar-header-bottom-text-fill: var(--calendar-header--bottom-text-fill);
  --calendar-header-tick-stroke: var(--calendar-header-tick-stroke);
}
.calendarBottomText {
  text-anchor: middle;
  fill: var(--calendar-header-bottom-text-fill);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: var(--calendar-header-tick-stroke);
}

.calendarTopText {
  text-anchor: middle;
  fill: var(--calendar-header-top-text-fill);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: var(--calendar-header-fill);
  stroke: var(--calendar-header-stroke);
  stroke-width: var(--calendar-header-stroke-width);
}
